# Dependencias
node_modules/

# Build
dist/
.vercel/


# Entorno (nunca subir credenciales)
.env
.env.local
.env.*.local

# Certificados locales de desarrollo
.cert/

# Sistema
.DS_Store
Thumbs.db
*.log

.vercel
